/* portfolio.css */
.card-hover-effect {
  transition: transform 0.3s ease;
}

.card-hover-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.text-hover-effect {
  transition: color 0.3s ease;
}

.text-hover-effect:hover {
  color: #0070f3;
}

.icon-hover-effect {
  transition: color 0.3s ease;
}

.icon-hover-effect:hover {
  color: #0070f3;
}
/* portfolio.css */
body {
  font-family: 'JetBrains Mono', Menlo, Monaco, 'Courier New', monospace; /* Change to your desired font */
}
html {
  scroll-behavior: smooth;
}